extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Clark Winters

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I have been working in the technology industry as a System and Database Administrator since 2011. Around 2014, I started writing some Bash scripts to perform repetitive tasks, and thus my passion for development was born. In 2018, I was able to start taking my interest in development seriously. Since then, I've spent all my free time learning Web Development and improving my skills. I'm currently enrolled in Team Treehouse's online Full Stack JavaScript Techdegree program. I'm also scheduled to start an online Web Development Bachelor's program with Bellevue University starting in March 2019.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        
        p.listhead
          strong Web:
        ul
          li JavaScript
          li jQuery
          li Express
          li Node.js
          li AJAX
          li Pug
          li CSS
          li HTML
        p.listhead
          strong DevOps:
        ul
          li Ansible
          li Bash
          li Linux
          li AWS
        p.listhead
          strong General:
        ul
          li Python
          li Git
          li JSON
          li YAML
          li Agile
          li Jira
        h6 Contact Info

        ul
          li 720-597-6162
          li clarkwinters8@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/clark-winters-68111617a/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/cwinters8', target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  