extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Clark Winters

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | In 2018, I was able to start taking my interest in development seriously. Since then, I've spent all my free time learning Web Development and improving my skills. I'm currently enrolled in Team Treehouse's online Full Stack JavaScript Techdegree program, and am scheduled to start an online Computer Science Bachelor's program with Oregon State University starting in June 2019.
          h3 Prior Experience
          p Since 2011, I've been involved in the technology industry in one way or another. I currently work at Boeing doing some cool things with automation, tooling, and Linux deployment. Check out my 
            a(href='https://www.linkedin.com/in/clark-winters-68111617a/', target='_blank') LinkedIn
            |  profile for more information about my career.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        
        p.listhead
          strong Web:
        ul
          li JavaScript
          li jQuery
          li Express
          li Node.js
          li AJAX
          li Pug
          li CSS
          li HTML
        p.listhead
          strong DevOps:
        ul
          li Ansible
          li Bash
          li Linux
          li AWS
        p.listhead
          strong General:
        ul
          li Python
          li Git
          li JSON
          li YAML
          li Agile
          li Jira
        h6 Contact Info

        ul
          li 720-597-6162
          li clarkwinters8@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/clark-winters-68111617a/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/cwinters8', target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  