extends layout.pug

block body
    .error
        if error.status === 404
            img(src="/static/images/404robot.jpg")
        else
            h1 Uh-oh...
            h2= `${error.status}: ${error.message}`
        button Go home
    p.stack #{error.stack}