extends layout.pug

block body
        .error
            if status === 404
                img(src="/static/images/404robot.jpg")
            else
                h1 Uh-oh...
                h2= `${status}: ${message}`
                p #{stack}
            button Go home